* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: #e6e6e6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calculator-main {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.calculator-main .calculator-header {
  display: flex;
  justify-content: space-between;
  color: #35352c;
}
.calculator-main .calculator-header .theme {
  font-size: 0.5em;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.calculator-main .calculator-header .theme .theme-options {
  display: flex;
  justify-content: space-around;
}
.calculator-main .calculator-header .theme .theme-selector {
  background-color: #d1cccc;
  border-radius: 10px;
  width: 70px;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.calculator-main .calculator-header .theme .theme-selector:hover {
  cursor: pointer;
}
.calculator-main .calculator-header .theme .theme-selector .theme-selector-knob {
  background-color: #ca5502;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  transition: 5ms;
}
.calculator-main .calculator-screen {
  background-color: #ededed;
  color: #35352c;
  border: 30px solid #ededed;
  border-radius: 10px;
  text-align: right;
  font-size: 2em;
  overflow: hidden;
  min-height: 136px;
}
@media screen and (max-width: 500px) {
  .calculator-main .calculator-screen {
    font-size: 1.5em;
    min-height: 96px;
    border: 20px solid #ededed;
  }
}
.calculator-main .calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 100px));
  gap: 25px;
  background-color: #d1cccc;
  border-radius: 10px;
  padding: 25px;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .calculator-main .calculator-keys {
    gap: 15px;
  }
}
.calculator-main .calculator-keys .key {
  text-align: center;
  padding: 15px 15px 5px;
  box-shadow: 0 5px #a69d91;
}
.calculator-main .calculator-keys .key:hover {
  cursor: pointer;
}
.calculator-main .calculator-keys .key.reset, .calculator-main .calculator-keys .key.equals {
  color: white;
  font-size: 0.6em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-main .calculator-keys .key.reset, .calculator-main .calculator-keys .key.del {
  background-color: #377f86;
  box-shadow: 0 5px #1b5f65;
  color: white;
  font-size: 0.6em;
  padding: 23px 11px 12px;
}
.calculator-main .calculator-keys .key.reset {
  grid-column: 1/span 2;
}
.calculator-main .calculator-keys .key.equals {
  grid-column: 3/span 2;
  background-color: #ca5502;
  box-shadow: 0 5px #893901;
}
.calculator-main .calculator-keys .key {
  border-radius: 10px;
  background-color: #e5e4e1;
}

footer {
  font-size: 0.5em;
  padding: 20px;
  color: #377f86;
  text-align: center;
}
footer a {
  color: #35352c;
}

/*# sourceMappingURL=theme2.css.map */
