@import "theme1_colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: $main-background;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calculator-main {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .calculator-header {
    display: flex;
    justify-content: space-between;
    color: $white;

    .theme {
      font-size: 0.5em;
      display: flex;
      align-items: flex-end;
      gap: 20px;

      .theme-options {
        display: flex;
        justify-content: space-around;
      }
      .theme-selector {
        background-color: $keypad-background;
        border-radius: 10px;
        width: 70px;
        height: 25px;
        display: flex;
        align-items: center;
        padding: 5px;

        &:hover {
          cursor: pointer;
        }

        .theme-selector-knob {
          background-color: $equals-key-background;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          transition: 5ms;
        }
      }
    }
  }

  .calculator-screen {
    background-color: $screen-background;
    color: $white;
    border: 30px solid $screen-background;
    border-radius: 10px;
    text-align: right;
    font-size: 2em;
    overflow: hidden;
    min-height: 136px;

    @media screen and (max-width: 500px) {
      font-size: 1.5em;
      min-height: 96px;
      border: 20px solid $screen-background;
    }
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 100px));
    gap: 25px;
    background-color: $keypad-background;
    border-radius: 10px;
    padding: 25px;
    align-items: center;

    @media screen and (max-width: 500px) {
      gap: 15px;
    }

    .key {
      text-align: center;
      padding: 15px 15px 5px;
      box-shadow: 0 5px $number-key-shadow;

      &:hover {
        cursor: pointer;
      }

      &.reset,
      &.equals {
        color: $white;
        font-size: 0.6em;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.reset,
      &.del {
        background-color: $reset-key-background;
        box-shadow: 0 5px $reset-key-shadow;
        color: $white;
        font-size: 0.6em;
        padding: 23px 11px 12px;
      }

      &.reset {
        grid-column: 1 / span 2;
      }

      &.equals {
        grid-column: 3 / span 2;
        background-color: $equals-key-background;
        box-shadow: 0 5px $equals-key-shadow;
      }
    }

    .key {
      border-radius: 10px;
      background-color: $number-key-background;
    }
  }
}

footer {
  font-size: 0.5em;
  padding: 20px;
  color: $reset_key_background;
  text-align: center;
  a {
    color: $white;
  }
}
